
/* GENERAL STYLING */
/* * {
  border: solid 1px;
  height: auto;
} */

/* section {
  padding-left: 30px;
} */

* {
  font-family: 'Roboto Condensed', sans-serif;
}

/* body {
  background-color: #f4f5f6;
} */
p {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: black;
  font-weight: bold;
  line-height: normal;
  font-size: 1.3rem;
  padding-top: 10px;
}

h4:hover {
  text-decoration: red underline;
}

h5 {
  font-family: serif;
}

h6 {
  color: rgba(3,3,3,.4);
  font-weight: bold;
}

.culture-travel {
  color: rgba(39,39,39,.5);
}

/* ------------HEADER SECTION------------ */

#red-bar {
  height: 95px;
  background-color: #e9212e;
}

#main-logo {
  height: 60px;
}

#red-bar-extra {
  position: absolute;
  top: 95px;
  right: 0;
  width: 80px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  z-index: 10;
}

#nav-search {
  margin-left: 25px;
}

header {
  position: relative;
}

header .list-group-item {
  line-height: 3;
}

header div .align-self-end {
  margin-bottom: 1rem;
}

/* ---------------MAIN SECTION------------ */

main {
  margin-top: 20px;
}
main section {
  padding-left: 0;
  }

main article img {
  width: 100%;
}

.img-wrapper {
  position: relative;
}
.img-tag {
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  position: absolute;
  color: #f72210;
  background: rgba(255,255,255,0.9);
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase; 
}

#culture-travel {
  background-color: #f4f5f6;
}

.sm-subtitle {
  color: black;
  font-weight: bold;
  line-height: 1.4;
}

.sm-subtitle:hover {
  color: #f72210;
  text-decoration: none;
}

.opinion-tag {
  color: #555;
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding-top: 5px;
}

.c-t-tag {
  background-color: #c2d4d7;
  color: #333;
  font-size: .9rem;  
}

.c-t-tag:hover {
  background-color: #272727;
  color: #c2d4d7; 
}

