
/* GENERAL STYLING */

* {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: inherit;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

h4,
nav a {
  line-height: normal;
  font-size: 1.4rem;
}

footer a,
footer span {
  color: rgb(130, 130, 130);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

footer a:hover {
  color: rgb(68, 68, 68);
}

a:hover {
  color: #f72210;
  text-decoration: none;
}

header h4 {
  font-size: 1.3rem;
}

h4:hover {
  text-decoration: red underline;
}

nav h4:hover {
  text-decoration: none;
}

#magazine h4 {
  font-size: 1.3rem;
}

h5 {
  font-family: serif;
}

.culture-travel {
  color: rgba(39, 39, 39, 0.5);
}

.sm-subtitle {
  color: black;
  font-weight: bold;
  line-height: 1.4;
}

.sm-subtitle:hover {
  color: #f72210;
  text-decoration: none;
}

#more-stories .sm-subtitle:hover {
  color: black;
  text-decoration: underline red;
}

.newsletter {
  line-height: 0.95;
  font-size: 1.2rem;
}

.icon {
  width: 38px;
  height: 30px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.section-title {
  font-size: 1.35rem;
}

.section-title-2 {
  color: #f72210;
  font-size: 1.35rem;
}

/* ------------HEADER SECTION------------ */

#red-bar,
#small-red-bar {
  /* height: 95px; */
  background-color: #e9212e;
}

#small-red-bar {
  /* height: 50px; */
}

#main-logo {
  height: 60px;
}

#main-logo-small {
  height: 20px;
}

#red-bar-extra {
  position: absolute;
  bottom: -12px;
  right: 0;
  width: 80px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  z-index: 10;
}

#nav-search {
  color: rgba(0, 0, 0, 0.55);
}

header {
  position: relative;
}

header .list-group-item {
  line-height: 3;
}

header div .align-self-end {
  margin-bottom: 1rem;
}

.btn-outline-danger:hover {
  color: #f72210;
  background-color: white;
}

.navbar-toggler {
  top: -4px;
  right: -6px;
}

.navbar-toggler-icon {
  color: #fb9a94;
}

/* ---------------MAIN SECTION------------ */

main {
  margin-top: 20px;
}

main section {
  padding-left: 0;
}

main article img {
  width: 100%;
}

.img-tag {
  bottom: 0;
  left: 0;
  position: absolute;
  color: #f72210;
  background: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  text-transform: uppercase;
}

.gray-background {
  background-color: #f4f5f6;
}

.opinion-tag {
  color: #555;
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding-top: 5px;
}

.c-t-tag {
  background-color: #c2d4d7;
  color: #333;
}

.c-t-tag:hover {
  background-color: #272727;
  color: #c2d4d7;
}

/* ---------------MAGAZINE SECTION------------ */

.mag-tag {
  color: white;
  background: #f72210;
  text-transform: uppercase;
}

.mag-h6 {
  color: #f72210;
  text-transform: uppercase;
}

/* ---------------SLIDE SECTION------------ */

.slide-tag {
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  font-size: 1.5rem;
}

div .slide-tag {
  width: 80px;
  height: 63px;
}

/* ---------------ASIDE SECTION------------ */

.img-newsletter {
  top: 40px;
  left: 70px;
}

.newsletter-div {
  height: 290px;
  background: url(https://d.newsweek.com/en/full/1525348/newsletter-promo-home-page.png?w=397&h=265&q=90&f=172a044c08b5e64f42dcb61b425487bf) 50% 0/cover no-repeat;
}

aside .section-title-2 {
  font-size: 1rem;
}

aside h4:hover {
  text-decoration: none;
}

aside .btn {
  background-color: #f72210;
}

aside .border-top {
  border: 2px solid #f4f5f6;
}
