
/* GENERAL STYLING */
/* * {
  border: solid 1px;
  height: auto;
} */

/* section {
  padding-left: 30px;
} */

.list-group-item {
  padding: 0.1rem 1.25rem;
  border-top: none;
  border-bottom: none;
}

/* ------------HEADER SECTION------------ */

#red-bar {
  height: 95px;
  background-color: #e9212e;
}

#main-logo {
  height: 60px;
}

#red-bar-extra {
  position: absolute;
  top: 95px;
  right: 0;
  width: 80px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

#nav-search {
  margin-left: 25px;
}

header {
  position: relative;
}

header .list-group-item {
  line-height: 3;
}

header div .align-self-end {
  margin-bottom: 1rem;
}

/* ---------------MAIN SECTION------------ */

main {
  margin-top: 20px;
}
main section {
  padding-left: 0;
  }

main article img {
  width: 100%;
}

.img-wrapper {
  position: relative;
}
.img-tag {
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  position: absolute;
  color: #f72210;
  background: rgba(255,255,255,0.9);
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase; 
}

#culture-travel {
  background-color: #f4f5f6;
}

#opinion ul {
  padding-inline-start: 0;
}

.opinion-text {
  padding-right: 0;
}

